output_dir: "results"
benchmark_dir: "benchmarks"
log_dir: "logs"
samples:
  mPanTro3:
    threads: 32
    mem: 250GB
    data:
      ont:
        uri: s3://genomeark/species/Pan_troglodytes/mPanTro3/genomic_data/ont/
        include: ["*.fq.gz"]
        exclude: ["*old-guppy-runs/*", "*.bam*", "*fast5/*"]
      hifi:
        uri: s3://genomeark/species/Pan_troglodytes/mPanTro3/genomic_data/pacbio_hifi/
        include: ["*.hifi_reads.fq.gz"]
        exclude: ["*previous-versions/*", "*.bam*", "*ccs*"]
      hic_mat:
        uri: s3://genomeark/species/Pan_troglodytes/mPanTro3/genomic_data/dovetail/
        include: ["*R1*.fastq.gz"]
      hic_pat:
        uri: s3://genomeark/species/Pan_troglodytes/mPanTro3/genomic_data/dovetail/
        include: ["*R2*.fastq.gz"]
